div {
    table {
      border-collapse: collapse;
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        button {
          margin-top:20px;
          background-color:#282c34;
          border:none;
          img {
            margin-left: 5px;
         
            width: 25px;
            height: 25px;
        }
        }
        
      }
    }
  }